/* Desktop - Tela home */
body{
    background-color: #FFFADA;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    background-color: cadetblue;
    width: 100%;
    height: 90px;
    position:sticky;
    display: flex;
}
#divBusca{
    width: 325px;
    height: 30px;
    border-radius: 10px;
    background-color: lightgrey;
    border: slategray 1px;
    margin: 20px 10px 5px 10px;
}
#pesquisa{
    cursor: pointer;
    border: none;
    height: 30px;
    border-radius:0 7px 7px 0;
    width: 70px;
    float: left;
}
#inputBusca{
    border-radius: 5px;
    width: 251px;
    border: none;
    height: 30px;
    background-color: transparent;
    float: left;
}
button{
    background-color:lightslategrey;
    border: thin;
    width: 120px;
    font-weight: bold;
    cursor: pointer;
}
.abaNav{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 20px 10px 5px 10px;
}
img{
    padding: 20px;
    height: 200px;
    width: 200px;
}

div{
    width: 320px;
    display: inline-block;
}