body{
    background-color: #FFFADA;
    text-align: center;
}
h1, h2{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    margin-top: 10px;
}
div{
    background-color:cornflowerblue;
    width: 280px;
    padding: 15px 35px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
input{
    border-color: cornflowerblue;
    border-radius: 5px;
}
button{
    border-radius: 5px;
    width: 180px;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}